*~
*.agdai
/agda.sty
*.aux
*.bbl
*.blg
/etoolbox.sty
/filecontents.dtx
/filecontents.ins
/filecontents.sty
/.gitignore2
/html
*.html
/ifmtarg.ins
/ifmtarg.sty
/ifmtarg.tex
/latex
/lazylist.sty
/lob-appendix.tex
/lob.out
/lob.tex
*.log
*.pdf
/polytable.dtx
/polytable.ins
/polytable.sty
*.ptb
/sigplanconf-template.tex
*.synctex.gz
/ucsencs.def
/ucs.sty
/uni-*.def
/utf8x.def
/xifthen.sty
