*~
*.agdai
/agda.sty
*.aux
*.bbl
*.blg
/boxchar.sty
/codelist.sty
*.def
*.dtx
/etoolbox.sty
/exaccent.sty
/extraipa.sty
*.fd
/filecontents.sty
/html
*.html
/ifmtarg.sty
/ifmtarg.tex
*.ins
/latex
/lazylist.sty
/lob-appendix.tex
/lob.out
/lob.tex
*.log
*.lox
*.map
*.mf
*.pdf
*.pfb
/polytable.sty
*.pro
*.ptb
/sigplanconf-template.tex
*.synctex.gz
*.tfm
/tipa/
/tipaman.sty
/tipa.sty
/tipa*.tex
/tipx.sty
/tone.sty
/ucs.sty
/vowel.sty
/vowel.tex
/xcolor.sty
/xcolor*.tex
/xifthen.sty
*.zip
