*.600pk
*.afm
*.agdai
*.aux
*.bak
*.bbl
*.bbx
*.bib.bak
*.blg
*.bst
*.cbx
*.cfg
*.cmap
*.csf
*.def
*.drv
*.dtx
*.dvi
*.fd
*.html
*.ins
*.lbx
*.log
*.lox
*.map
*.mf
*.pdf
*.pfb
*.pfm
*.pro
*.ptb
*.synctex.gz
*.tfm
*.zip
*~
.#*
/01-introduction.tex
/02-annotations.tex
/03-localization-keys.tex
/10-references-per-section.tex
/11-references-by-section.tex
/12-references-by-segment.tex
/13-references-by-keyword.tex
/14-references-by-category.tex
/15-references-by-type.tex
/16-numeric-prefixed-1.tex
/17-numeric-prefixed-2.tex
/18-numeric-hybrid.tex
/19-alphabetic-prefixed.tex
/20-indexing-single.tex
/21-indexing-multiple.tex
/22-indexing-subentry.tex
/30-style-numeric.tex
/31-style-numeric-comp.tex
/32-style-numeric-verb.tex
/40-style-alphabetic.tex
/41-style-alphabetic-verb.tex
/42-style-alphabetic-template.tex
/50-style-authoryear.tex
/51-style-authoryear-ibid.tex
/52-style-authoryear-comp.tex
/53-style-authoryear-icomp.tex
/60-style-authortitle.tex
/61-style-authortitle-ibid.tex
/62-style-authortitle-comp.tex
/63-style-authortitle-icomp.tex
/64-style-authortitle-terse.tex
/65-style-authortitle-tcomp.tex
/66-style-authortitle-ticomp.tex
/70-style-verbose.tex
/71-style-verbose-ibid.tex
/72-style-verbose-note.tex
/73-style-verbose-inote.tex
/74-style-verbose-trad1.tex
/75-style-verbose-trad2.tex
/76-style-verbose-trad3.tex
/80-style-reading.tex
/81-style-draft.tex
/82-style-debug.tex
/90-related-entries.tex
/91-sorting-schemes.tex
/92-bibliographylists.tex
/_minted-lob-preprint/
/_minted-lob/
/accsupp-example1.tex
/accsupp-example2.tex
/accsupp-test1.tex
/accsupp.sty
/accsupp.xml
/agda.sty
/biblatex.sty
/biblatex.tex
/biblatex/
/biblatex1.sty
/biblatex2.sty
/boxchar.sty
/cmap.sty
/cmap/
/codelist.sty
/common.tex
/etoolbox.sty
/exaccent.sty
/extraipa.sty
/fair-bot-self-cooperates.tex
/filecontents.sty
/html
/ifmtarg.sty
/ifmtarg.tex
/ifplatform.sty
/latex
/lazylist.sty
/lineno.sty
/lob-build-quine.tex
/lob-preprint.out
/lob.out
/lob.tex
/logreq.sty
/minted.sty
/minted1.sty
/mmap.sty
/mmap/
/polytable.sty
/prisoners-dilemma-lob.tex
/sigplanconf-template.tex
/slashbox.sty
/stmaryrd.sty
/stmaryrd/
/supplemental-anonymous
/supplemental-nonymous
/tipa*.tex
/tipa.sty
/tipa/
/tipaman.sty
/tipx.sty
/tone.sty
/ucs.sty
/upquote.sty
/vowel.sty
/vowel.tex
/xcolor*.tex
/xcolor.sty
/xifthen.sty
/xstring.sty
/xstring.tex
